body {
  font-family: sans-serif;
  background-color: #f6e0e0;
}

.headings{
  text-align: center;
}
.headings::after{
  content:' ';
  position: absolute;
  display:block;
  width: 30%;
  margin: 0 2%;
  border:2px solid #da3a3a;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
  left: 50%;
  transform: translateX(-56.5%);
}

h3{
  text-align: center;
  color: #da3a3a;
}

/*Clear dots in front of lists*/
ul{
  list-style: none;
}
li{
  list-style: none;
}
/******************
*  Image gallery  *
******************/
.imageGallery{
  background-color: #c6dbf3;

}
.imageCenter{
  width: 100%;
  text-align: center;  
}
.image {
  width: 200px;
  height: 200px;
  background-size: contain;
  cursor: pointer;
  margin: 10px;
  border-radius: 3px;
}
.image:hover{
  border: 15px groove rgb(155, 8, 8);
}

/********
* Video *
********/

#videosec{
  width: 100%;
}
.viddiv{
  position: relative;
}
.viddiv img{
  height: auto;
  width: 100%;
  vertical-align: middle;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay h1{
  color: #da3a3a;
}

/******************
*  NAVBAR SECTION *
******************/
.topnav {
  overflow: hidden;
  background-color: rgba(138, 135, 135, 0.801);
  position: absolute;
  left: 0%;
  top: 0%;
  z-index:200; 
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.sticky {
  position: fixed;
}
/* 
*Add some top padding to the page content to prevent sudden 
*quick movement (as the navigation bar gets a new position at 
*the top of the page (position:fixed and top:0) 
*******/
.sticky + .content {
  padding-top: 60px;
}
.active {
  background-color: rgb(175, 76, 76);
  color: white;
}

.topnav .icon {
  display: none;
}


/***************
*   Form div   *
***************/
#formDiv{
  margin: 0 auto ;
  text-align: center;
  max-width: 50%;
  background-color: #f1d5ce;
}
.form-group{
  max-width: 50%;
  margin: 0 auto;
}

/******************
    MODAL PROMPT
******************/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 50%;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #e24646;
}

.modal-body {
  margin: 20px 0;
  overflow-y: scroll;
  height: 500px;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/***************
*   Food box   *
***************/
#foodSubclass{
  padding: 10px;
  border: 1px solid black;
  width: 30%;
  margin-left: 5%;
  text-align: center;
}

#foodRowBox{
  display: inline-block;
  border-radius: 10px;
  border: 2px solid rgb(241, 126, 108);
  background-color: rgb(233, 177, 169);
  width: 90%;
  padding: 3px;
}
#foodBox{
  width: 50%;
  float: left;
}
#foodButtons{
  float:right;
}


/***************
* Media querys *
***************/
@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
